 SHOPIFY_ACCESS_TOKEN=token_store_minuman
 SHOP=minumancom.myshopify.com
 API_VERSION=2026-01
 PORT=3000
 
 SCOPES=list_of_scopes_here #all store will be the same scopes

 SHOPIFY_ACCESS_TOKEN_KAPITTALL=kapitall-jakarta-token
 SHOP_KAPITTALL=kapitall-jakarta.myshopify.com
 DOMAIN_KAPITTALL=kptll.com,kapitall-jakarta.myshopify.com
 API_VERSION_KAPITTALL=2026-01
 REQUEST_FROM_KAPITTALL=kapittal

 SHOPIFY_ACCESS_TOKEN_SALLANG_SALLANG=token_store_sallang_sallang
 SHOP_SALLANG_SALLANG=sallang-sallang.myshopify.com
 API_VERSION_SALLANG_SALLANG=2026-01
 REQUEST_FROM_SALLANG_SALLANG=sallang_sallang

 SHOPIFY_ACCESS_TOKEN_HAFIDZ_DEV=token_store_hafidz_dev
 SHOP_HAFIDZ_DEV=hafidz-dev.myshopify.com
 DOMAIN_HAFIDZ_DEV=hafidz-dev.myshopify.com
 API_VERSION_HAFIDZ_DEV=2026-01
 REQUEST_FROM_HAFIDZ_DEV=hafidz-dev